## Python

- Python is a powerful, high-level, general-purpose programming language.
- It is used in web development, Desktop Development & Data Science.
- Python run on multiple platforms like Windows, macOS, Linux.

## Download Python

In [1]:
## Print first Program

print("Hello World")

Hello World

In [ ]:
false = "a"

## Keywords and Identifiers

- Keywords are the reserved words in Python.

- We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

- In Python, keywords are case sensitive.

- Total are 33 keywords in Python 

- False	  ,      await	 ,          else	,        import	,       pass

None,	break,	except,	in,	raise

True,	class,	finally,	is,	return

and,	continue,	for,	lambda,	try

as,	def,	from,	nonlocal,	while

assert,	del,	global,	not,	with

async,	elif,	if,	or,	yield

## Rules for writing identifiers

- Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.

- An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.

- Keywords cannot be used as identifiers.  ( global = 1 )

- We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [2]:
a = 10

B = 20

In [4]:
a = "4"    ############### Double quetes.

In [5]:
type(a)

str

## Statement, Indentation and Comments

a = 1, is an assignment statement. 

- There are many types of statments avilable in python 

- if statement, for statement, while statement, etc.

## Python Indentation

- Most of the programming languages like C, C++, and Java use braces { } to define a block of code.

- But In Python, we have use indentation.

- Generally, four whitespaces are used for indentation and are preferred over tabs. 

 - Example.

In [6]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Python Comments

- Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out. 

- In Python, we use the hash (#) for single comment.

In [9]:
#This is a comment
#print out Hello
print('Hello World')

Hello World

## Multi-line comments

 - triple quotes are generally used for multi-line COmments.

In [10]:
"""My name
IS Shivan
Kumar, I am
a kaggle Expert & 
Machine Learning ENgg."""

'My name\nIS Shivan\nKumar, I am\na kaggle Expert & \nMachine Learning ENgg.'

In [11]:
"""This is also a
perfect example of
multi-line comments"""

'This is also a\nperfect example of\nmulti-line comments'

## Variables

- A variable is a location used to store data in the memory. It is helpful to think of variables as a container that holds data that can be changed future in the program. 

For example,

In [19]:
a = 10

In [20]:
a = 10
a = 20

- You can see guys, the value of a was 10. but, it was changed to 20.

In [21]:
a

20

In [26]:
## Declaring and assigning value to a variable
name = "Shivan Kumar"
print(name)

Shivan Kumar

In [27]:
# Changing the value of a variable

name = "Shivan Kumar"
print(name)

# assigning a new variable to name
name = "Machine Learning ENgg."

print(name)

Shivan Kumar
Machine Learning ENgg.

In [28]:
# Assigning multiple values to multiple variables

a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [29]:
# If we want to assign the same value to multiple variables at once, we can do this as:

x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

## String


- A string is a sequence of characters surrounded by single & double quotes.

- We can use both single, double, or triple quotes for a string.

In [30]:
# How to use string literals in Python?

strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

## Datatypes

- In python, Every value in has a datatype.

- There are various data types in Python. Some of the important types are

- int, float , complex

In [31]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

5 is of type <class 'int'>
2.0 is of type <class 'float'>

## List


- ist is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible

- Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

- Lists are mutable, mutable means we can change this

In [32]:
a = [1, 2.2, 'python']

In [33]:
a

[1, 2.2, 'python']

#  We can use the slicing operator [ ] to extract an item or a range of items from a list. The index starts from 0 in Python.

In [34]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

In [35]:
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

## Tuple
- Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

- Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

- It is defined within parentheses () where items are separated by commas.

In [36]:
t = (5,'program', 1+3j)

In [37]:
# We can use the slicing operator [] to extract items but we cannot change its value.

t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

t[1] =  program
t[0:3] =  (5, 'program', (1+3j))

TypeError: ignored

## Strings
- String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

In [38]:
s = "This is a string"
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

In [39]:
s = 'Hello world!'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

# Generates error
# Strings are immutable in Python
s[5] ='d'

s[4] =  o
s[6:11] =  world

TypeError: ignored

## Set
- Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [40]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

In [41]:
# We can perform set operations like union, intersection on two sets. Sets have unique values. They eliminate duplicates.

a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [42]:
# Since, set are unordered collection, indexing has no meaning. Hence, the slicing operator [] does not work.

a = {1,2,3}
a[1]

TypeError: ignored

## Dictionary

- Dictionary is an unordered collection of key-value pairs.

- It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data.

- dictionaries are defined within braces {}.

In [49]:
d = {1:'value','key':2}
type(d)

dict

In [50]:
d

{1: 'value', 'key': 2}

In [45]:
d = {1:'value','key':2}

<class 'dict'>
d[1] =  value
d['key'] =  2

In [46]:
d = {"data":1, "v":2}

In [47]:
d

{'data': 1, 'v': 2}